<%- include('partials/header.ejs') %>

<div>
    <h2> <%- title %></h2>

    <h3> 
        <% for(var i=0; i<players.length; i++) { %>
            <dl>
            <dt> <%= JSON.stringify(players[i]["Game"])%> </dt>
             <%= JSON.stringify(players[i]["Recent_Date_Played"])%>
            </dl>
         <% } %>
    
    </h3>
</div>

<a href="/add-game"><button>Add Game</button></a>
<a href="/edit-game"><button>Edit Game Information</button></a>


<%- include ('partials/footer.ejs') %>
